<% content_for(:page_title, t('users.show')) %>
<% content_for(:show_back_button, true) %>
<% content_for(:back_path, main_path) %>


<h2>マイページ</h2>

<p>名前：<%= current_user.name %></p>
<p>メール(変更不可)：<%= current_user.email %></p>
<p>性別：<%= t("enums.user.sex.#{current_user.sex}") %></p>

<% if current_user.icon.present? %>
  <p>アイコン：</p>
  <%= image_tag "user_icons/#{current_user.icon}", size: "60x60", class: "rounded " %>
<% end %>

<%= link_to "編集する", edit_user_path(current_user), class: "px-3 py-1 bg-green-400 text-white rounded" %>



<hr class="my-4">

<h3>ペア情報</h3>

<% if current_user.active_pair %>
  <!-- ペアがある場合 -->
  <p>パートナーの名前：<%= current_user.active_pair.partner(current_user).name %></p>
  <%= button_to "ペア解消", pair_path(current_user.active_pair), method: :delete, data: { turbo_confirm: "本当に解消しますか?" }, class: "px-2 py-1 bg-gray-300 rounded" %>
<% else %>
  <!-- ペアがない場合 -->
  <p>あなたのペアコード：<%= current_user.my_code %></p>
  <%= link_to "新しいペアを作成する", new_pair_path, class: "px-2 py-1 bg-pink-300 text-white rounded" %>
  <%= button_to "ペアコードを再発行", regenerate_code_user_path(current_user), method: :post %>
<% end %>



