<% content_for(:page_title, t('users.show')) %>

<div class="max-w-md mx-auto px-4 py-6 space-y-6 mb-24">

  <!-- ユーザー情報カード -->
  <div class="card-notebook bg-white p-5 flex flex-col items-center space-y-3">
    <% if current_user.icon.present? %>
      <%= image_tag "user_icons/#{current_user.icon}",
            class: "w-20 h-20 rounded-full border-2 border-wood-dark" %>
    <% end %>

    <p class="font-heading text-forest-green text-lg font-semibold">
      <%= current_user.name %>
    </p>

    <p class="text-wood-dark text-sm">メール：<%= current_user.email %></p>
    <p class="text-wood-dark text-sm">性別：<%= t("enums.user.sex.#{current_user.sex}") %></p>

    <%= link_to "編集する", edit_user_path(current_user),
          class: "btn btn-secondary mt-2 w-full text-center" %>

    <%= link_to "パスワードを変更する", edit_user_registration_path,
      class: "btn btn-secondary mt-2 w-full text-center" %>

  </div>

  <!-- 通知設定カード -->
  <div class="card-notebook bg-white p-5">
  <h3 class="text-base font-heading text-forest-green mb-2">通知設定</h3>
    <%= link_to "プッシュ通知設定を変更する(工事中)",
          notification_settings_path,
          class: "btn btn-primary w-full text-center" %>
  </div>

  <!-- 投稿プリセットカード -->
  <div class="card-notebook bg-white p-5">
  <h3 class="text-base font-heading text-forest-green mb-2">投稿プリセット</h3>
    よく使うタイトルを登録しておくことができます
    <%= link_to "投稿プリセット設定を変更する",
          presets_path,
          class: "btn btn-primary w-full text-center" %>
  </div>

  <!-- ペア情報カード -->
  <div class="card-notebook bg-white p-5">
    <h3 class="text-base font-heading text-forest-green mb-2">ペア情報</h3>

    <% if current_user.active_pair %>
      <p class="text-wood-dark mb-2">
        パートナーの名前：<%= current_user.active_pair.partner(current_user).name %>
      </p>

      <%= button_to "ペア解消", pair_path(current_user.active_pair),
            method: :delete,
            data: { turbo_confirm: "本当に解消しますか?" },
            class: "btn btn-danger w-full text-center" %>

    <% else %>
      <p class="text-wood-dark mb-2">
        あなたのペアコード：<%= current_user.my_code %>
      </p>

      <div class="flex gap-2">
        <%= link_to "新しいペアを作成する", new_pair_path,
              class: "btn btn-primary flex-1 text-center" %>

        <%= button_to "ペアコードを再発行", regenerate_code_user_path(current_user),
              method: :post,
              class: "btn btn-secondary flex-1 text-center" %>
      </div>
    <% end %>
  </div>

 
  <%= button_to "退会する",
      user_registration_path,
      method: :delete,
      data: { turbo_confirm: "本当に退会しますか？" },
      class: "btn btn-danger mt-8" %>

  <p class="text-xs text-gray-500">
      退会すると、投稿・メモ・通知設定などのデータはすべて削除され、元に戻せません。
  </p>

</div>
