<% if post.errors.any? %>
  <ul class="text-red-500">
    <% post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: post, data: { turbo: false } do |f| %>

  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :category_id, "カテゴリ" %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div>
    <%= f.label :sense_level, "優先度" %><br>
    <%= f.select :sense_level,
      Post.sense_levels.keys.map { |k| [Post.sense_level_jp_for(k), k] } %>
  </div>

  <div>
  <%= f.label :reveal_at, "答え合わせのタイミング" %><br>
  <% options = [
    ["選択してください", nil],
    ["すぐ公開", 0],
    ["10分後", 10.minutes],
    ["30分後", 30.minutes],
    ["1時間後", 1.hour],
    ["2時間後", 2.hours],
    ["3時間後", 3.hours],
    ["6時間後", 6.hours],
    ["12時間後", 12.hours],
    ["24時間後", 24.hours],
    ["2日後", 2.days]
  ] %>
  <%= f.select :reveal_offset, options_for_select(options.map { |label, offset| [label, offset] }, selected: nil) %>
</div>


  <%= f.submit %>

<% end %>
