<% priority_class =
  case post.sense_level
  when "high" then "border-l-[20px] border-accent-orange bg-orange-100"
  when "medium" then "border-l-[20px] border-sage bg-white"
  when "low" then "border-l-[20px] border-cream bg-white"
  else "border-l-[20px] border-sage bg-white"
  end %>

<%= link_to post_path(post), class: "block" do %>
  <div class="card-notebook <%= priority_class %> flex rounded-xl shadow-md/20 p-4 mb-6 transform rotate-0 hover:rotate-2 transition-transform">

    <!-- 左側 カテゴリアイコンと優先度 -->
    <div class="flex-shrink-0 mr-4 flex flex-col items-center justify-center w-12 space-y-2 ">
      <% if post.category&.icon.present? %>
        <%= image_tag(post.category.icon, alt: post.category.name, class: "w-8 h-8") %>
      <% end %>
      <div class="text-center text-xs text-forest-green">
        優先度: <%= post.sense_level_jp %>
      </div>
    </div>

    <!-- 右側 -->
    <div class="flex flex-col flex-grow space-y-1 min-w-0">

      <% if post.just_unlocked?(last_viewed_at) %>
        <div class="text-xs text-accent-orange mb-1">
          🔓 答えが公開されました
        </div>
      <% end %>

      <p class="text-sm text-forest-green mb-1">
        カテゴリ: <%= post.category.name %>
      </p>

      <% locked = post.reveal_at.present? && Time.current < post.reveal_at %>

      <h3 class="text-base mb-2 font-heading font-semibold
           <%= locked && post.user != current_user ? 'text-accent-orange' : 'text-forest-green' %>
           line-clamp-2 break-words overflow-hidden min-w-0">
        <%= post.title_for_view(current_user) %>
        <% if last_viewed_at.nil? || post.created_at > last_viewed_at %>
          <span class="ml-2 text-xs bg-accent-orange text-white px-2 py-0.5 rounded-full font-heading">
            New
          </span>
        <% end %>
      </h3>



      <% if post.reveal_at.present? && Time.current < post.reveal_at %>
        <div class="mt-auto text-xs font-heading">
          <% time_left = post.reveal_at - Time.current %>
          <% if time_left >= 1.hour %>
            <% hours_left = (time_left / 1.hour).ceil %>
            <span class="text-accent-orange <%= 'text-red-600 font-semibold' if hours_left <= 1 %>">
              答え合わせまであと <%= hours_left %>時間！
            </span>
          <% else %>
            <% minutes_left = (time_left / 1.minute).ceil %>
            <span class="text-accent-orange text-red-600 font-semibold">
              答え合わせまであと <%= minutes_left %>分！
            </span>
          <% end %>
        </div>
      <% end %>


      <!-- 下側 投稿者情報 -->
      <div class="flex items-center justify-end mt-auto text-xs text-wood-dark space-x-2 font-body">
        <% if post.user.icon.present? %>
          <%= image_tag("user_icons/#{post.user.icon}", class: "w-6 h-6 rounded-full border border-wood-light") %>
        <% end %>
        <span><%= post.user.name %></span>
        <span><%= post.created_at.in_time_zone.strftime("%Y/%m/%d %H:%M") %></span>
      </div>

    </div>
  </div>
<% end %>
