<% if @post.errors.any? %>
  <ul class="text-red-500">
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @post, local: true do |f| %>

  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :category_id, "カテゴリ" %><br>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div>
    <%= f.label :sense_level, "優先度" %><br>
    <%= f.select :sense_level, Post.sense_levels.keys %>
  </div>

  <div>
    <%= f.label :reveal_at, "公開時間" %><br>
    <%= f.datetime_field :reveal_at, required: true %>
  </div>

  <%= f.submit "投稿する" %>

<% end %>
