<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <% unless controller_name == 'sessions' && action_name == 'new' %>
      <%= render "shared/header" %>
    <% end %>

    <!-- フラッシュメッセージ -->
    <% if flash[:alert] %>
      <div class="bg-red-100 text-red-700 p-3 rounded mb-4">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="bg-green-100 text-green-700 p-3 rounded mb-4">
        <%= flash[:notice] %>
      </div>
    <% end %>


    <main>
      <%= yield %>
    </main>

    <!-- フッター分岐 app/helpers/application_helper.rb ヘルパーメソッド -->
    <% if show_footer? %>
      <%= render "shared/footer" %>
    <% end %>

  </body>
</html>
