<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:page_title) ?
            "#{yield(:page_title)}｜ふたりの察し手帳" :
            "ふたりの察し手帳" %>
    </title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

     <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">

    <!-- favicon -->
    <%= favicon_link_tag 'favicon.png' %>

    <!-- OGP -->
    <meta property="og:title" content="<%= content_for?(:page_title) ? yield(:page_title) : 'ふたりの察し手帳' %>">
    <meta property="og:description" content="<%= content_for?(:page_description) ? yield(:page_description) : '自然にお互いを理解するためのクローズドな気づきアプリ' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= image_url('ogp.png') %>">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">


  </head>

  <body class="bg-light-cream">
    <% unless (controller_name == 'sessions' && action_name == 'new') ||
          (controller_name == 'home' && action_name == 'index') %>
      <%= render "shared/header" %>
    <% end %>


    <!-- フラッシュメッセージ（ログイン画面では非表示） -->
    <% unless controller_name == 'sessions' && action_name == 'new' %>
      <% flash.each do |type, message| %>
        <div class="
          mx-auto max-w-md mt-4 px-4 py-3 rounded-lg text-sm shadow
          <%= case type.to_sym
              when :notice
                'bg-sage/30 text-forest-green border border-sage'
              when :alert
                'bg-cream text-wood-dark border border-wood-light'
              else
                'bg-accent-orange/20 text-wood-dark border border-accent-orange'
              end
          %>
        ">
          <%= message %>
        </div>
      <% end %>
    <% end %>



    <main>
      <%= yield %>
    </main>

    <!-- フッター分岐 app/helpers/application_helper.rb ヘルパーメソッド -->
    <% if show_footer? %>
      <%= render "shared/footer" %>
    <% end %>

  </body>
</html>
